body {
      background-color: lightblue;
}

#container {
      width: 80%;
      margin: auto;
}

#container > ul {
      gap: 0.5rem;
}
li {
      width: 100px;
      height: 100px;
      padding: 1rem;
      list-style: none;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold;
      transition: 0.3s ease-in-out;
}

li:hover {
      cursor: pointer;
      scale: 1.1;
}